body
{
background-image:url('Baby.jpg');
background-size: cover;
height:100%;
}

table
{
color:black;
background-color:rgba(0,0,0,0.1);
padding: 20px;
box-shadow: 20px 20px 20px black;
}
.h1
{
    font-size: 45px;
    font-weight: bold;
}
.p
{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.B
{
    font-size:18px;	
    background-color: rgb(90, 52, 52);

}
.t1
{
border-radius:20px;
background-color:rgba(85, 30, 30, 0);
}
select
{
    background-color:rgba(0,0,0,0.0);

}
a{
    text-decoration: none;
    color:black;
}